.input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px 0;
}

.area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.deleteIcon{
    font-size: 29px;
    color: rgb(205, 18, 18);
    margin: 0px 10px;
}

.deleteIcon :hover{
    cursor: pointer;
    color: rgb(228, 62, 33);
}

.area input[type="checkbox"]:checked{
   background-color: rgb(61, 234, 61);
}

.area input:disabled{
    cursor: not-allowed;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

.checkbox{
    width: 30px;
    height: 30px;
}